{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


            
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Asset tag</th>
                        <th scope="col">Sno</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Model</th>
                        <th scope="col">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.asset }}</td>
                        <td>{{ item.sno }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.model }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
<!--End Topside-->
<!--Table-->
</div>



<!--End Table-->


{% endblock %}